<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Distributed Nodes</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='style.css') }}">

</head>

<body>

<div class="ledger-section">

    <h1 class="ledger-title">

        Distributed Blockchain Nodes

    </h1>

    <div class="glass-card">

        <h2>Node 1</h2>

        <p>Status: ACTIVE</p>

    </div>

    <br>

    <div class="glass-card">

        <h2>Node 2</h2>

        <p>Status: ACTIVE</p>

    </div>

    <br>

    <div class="glass-card">

        <h2>Node 3</h2>

        <p>Status: ACTIVE</p>

    </div>

    <br><br>

    <a href="/">
        <button>

            Back To Homepage

        </button>
    </a>

</div>

</body>
</html>